body {
	background-color: white;
	font-size: 20px; 
	font-family: Arial;
	color: black;
	margin: 0;
}

/* barva ozadja naslovne slike, ki je v header-ju */
header {
	background-color: #993340;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 5px;
}	


/* meni in linki v meniju*/
.menu-background {
	text-align: center;
	width: 100%;
	background-color: lightgray;
}

#menu {
	list-style-type: none;
	display: inline-flex;
	margin: 0;
	background-color: lightgray;
}

#menu li {
	color: black;
	padding: 13px 16px;
	text-decoration: none;
}

#menu li:hover {
	background-color: white;
	color: black;
}

#menu a:link {
	text-decoration: none;
	color: black;
}

#menu a:visited {
  color: black;
}

#menu a:hover {
	color: black;
}

#menu a:active {
	color: black;
}


/* dropdown-i in vsebina */
.dropdown{
	position: relative;
}

.dropdown-content{
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
	top: 49px;
}

.dropdown-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}

.dropdown-content a:hover {
	background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
	display: block;
}


/* naslovi in podnaslovi */
h1 {
	font-size: 30px;
	color: #991f26;
	font-style: italic;
	text-align: left;
}

h2 {
	font-size: 25px;
	color: #660000;
	text-align: left;
	margin-top: 35px;
}


/* visina vrstice oz. povečanje razmika med vrsticami */
p, li {
	line-height: 1.3;
}

/* spodaj na strani: footer */
#page-container {
	position: relative;
	min-height: 100vh;
	background-color: #f0f0f5;
}

#content-wrap {
	padding-bottom: 2.5rem;
	padding: 10px 25px;
	margin-right: 20px;
}

#footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 23px;
	background-color: lightgray;
	color: black;
	text-align: center;
}

/* seznam (naštevanje) */
#list {
	font-size: 18px;
	padding: 0 30px;
}

#list li {
	margin: 8px 0;
	
}

/* slika delovanje na levi */
.delovanje_slika {
	margin-right: 15px;
	float: left;
}

/* viri in slike z viri na levi, velikost 1 */
.img-with-text_1 {
	text-align: justify;
	width: 305px;
	float: left;
	margin-right: 20px;
	margin-bottom: 10px;
}

.img-with-text_1 img {
	display: block;
	margin-bottom: 10px;
}

/* viri in slike z viri na levi, velikost 2 */
.img-with-text_2 {
	text-align: justify;
	width: 280px;
	float: left;
	margin-right: 20px;
	margin-bottom: 10px;
}

.img-with-text_2 img {
	display: block;
	margin-bottom: 10px;
}

/* viri in slike z viri, velikost 3 */
.img-with-text_3 {
	text-align: justify;
	width: 600px;
}

.img-with-text_3 img {
	display: block;
	margin-bottom: 10px;
}

/* nastavitve margin za lepši izgled strani */ 
.margin_vodila {
	margin-bottom: 25px;
}

.p_margin_delitev {
	margin-top: 65px;
}

.p_margin_pomnilnik {
	margin-top: 60px;
} 

.p_margin_UPO {
	margin-top: 120px;
}

.margin_VI {
	margin-top: 165px;
}

.text_margin {
	margin-bottom: 65px;
}


/* določena velikost pisave za licenco in vire slik */
.vir_slike {
	font-size: 15px;
}

/* črta pri strojni opremi spodaj */
hr {
  border-width: 1px;
  color: #660000;
  margin-top: 140px;
}